body{
    background: url("../images/crystalgamebkg.jpg");
    background-size: cover;
    background-repeat: no-repeat;

}

h1{
    color:red;
}
.container {
    color:red;

}


.crystals {
    display:flex;
    justify-content: space-between;
    align-items: center;
    color: blue;
}


.crystal {
    border: 1px solid red;
    height: 200px;
    width: 200px;
    border: 1px solid goldenrod;

}

img {
    width: 30px;

}

#result {
    color:red;

}

p {
    color:red;

}

footer{
color:red;
}